*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.gradient {
    background-color: white;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #e26464, #f5b6cf, #f58f8f,rgb(255, 93, 93));
    background-size: 200% 200%;
    animation: colors 5s ease infinite;
  }

nav{
    height: 10vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
#img{
    width: 80px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  button {
    margin-top: 250px;
    height: 70px;
    width: 150px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px #800000 solid;
    border-radius: 20px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: #5f0606;
  }
button:hover {
  color:rgb(131, 4, 4) 
  }

  #btn2{
      width: 100px;
      height: 50px;
  }
  #btn1{
    width: 30px;
    height: 10px;
    font-size: 5px;
  }
  h1{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  footer{
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
  }
  #urso{
    width: 150px;
  }
  .ursinho{
    display: flex;
    position: relative;
    top: 30px;
    justify-content: center;
    align-items: center;
  }
  #urso2{
    width: 200px;
    position: absolute;
  }
  .ursinho2{
    display: flex;
    justify-content: center;
  }
  #msg{
    font-size: 25px;
    text-align: center;
  }
  #img2{
    width: 300px;
    border-radius: 60px;
  }
  btn3{
    width: 70px;
  }
  #coracao{
    width: 150px;
  }
  .coracao{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
